@font-face {
    font-family: font-bold;
    src: url('font/klavika-bold-webfont.woff');
}

@font-face {
    font-family: font-light;
    src: url('font/klavika-light-webfont.woff');
}

@font-face {
    font-family: font-medium;
    src: url('font/klavika-medium-webfont.woff');
}

@font-face {
    font-family: font-regular;
    src: url('font/klavika-regular-webfont.woff');
}

body{
    margin: 0;
    height: 100vh;
    background-color: black;
    font-family: font-light;
    color: #e0dfdc;
    /*overflow: hidden;*/
}

h2{
    font-weight: normal;
    border-bottom: 1px solid #e0dfdc;
    display: inline;
    text-shadow: 2px 3px 4px #000000;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline;
}

.background-image-container{
    position: relative;
}

.background-image{
    height: 100vh;
    transform: translateX(0%);
    transition: transform 1.5s ease;
}

.slide-text-container{
    position: absolute;
    z-index: 99;
    width: 300px;
}

.top-left{
    top: 10px;
    left: 10px;
    text-align: left;
}

.left{
    top: 40vh;
    left: 50px;
    text-align: left;
}

.right{
    top: 40vh;
    right: 40px;
    text-align: right;
}

.top-right{
    top: 10px;
    right: 20px;
    text-align: right;
}

.slide-main-text{
    color: white;
    font-size: 30px;
    /*text-decoration: underline;*/
    opacity: 0;
    transition: opacity 1s;
}

.button{
    color: white;
    font-size: 45px;
    font-weight: normal;
    text-decoration: none;
    color: #e0dfdc;
}

.button:hover{
    color: #a6a6a6;
}

.button.forward{
    position: absolute;
    top: 50vh;
    right: 10px;
    z-index: 99;
}

.button.backward{
    position: absolute;
    top: 50vh;
    left: 10px;
    z-index: 99;
}

.path-description{
    position: absolute;
    left: 10px;
    bottom: 100px;
    opacity: 0;
    transition: opacity 1s;
}

.path-description p{
    margin: 0;
}

.steps-container{
    position: absolute;
    width: 100%;
    bottom: 40px;
    left: 10px;
}

.slide-map-container{
    z-index: 99;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 8px;
    display: inline-block;
}

.slide-map-container li{
    display: inline;
    border: 1px dotted white;
    margin-left: -1px;
    padding: 3px;
}

.slide-map-container li a{
    display: inline-block;
    width: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.slide-map-container li a.side{
    color: rgba(0,0,0,0)
}

.slide-map-container li a.clicked{
    background-color: white;
}

.current-step-description{
    display: inline-block;
    margin-left: 30px;
    opacity: 0;
    transition: opacity 1s;
    font-family: font-light;
    font-size: 10px;
}

.last-slide-container{
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    text-align: right;
    transform: translateX(120%);
    transition: transform 0.6s;
}

.last-slide-content{
    color: white;
    font-size: 12px;
}

.last-slide-content .first-line{
    margin: 100px 0 0;
}

.last-slide-content .second-line{
    margin: 0;
}

.last-slide-content .careers-anchor{
    color: white;
}

.last-slide-content ul{
    margin-top: 30px;
}

.last-slide-content li{
    margin-left: 10px;
}

.last-slide-content li a{
    color: white;
    text-decoration: none;
}

.hide{
    display: none;
}

