body{
    margin: 0;
    height: 100vh;
    background-color: black;
    /*overflow: hidden;*/

}

.background-image-container{
    position: relative;
}

.background-image{
    height: 100vh;
    transform: translateX(0%);
    transition: transform 1.5s ease;
}

.slide-text-container{
    position: absolute;
    z-index: 99;
    width: 300px;
}

.top-left{
    top: 10px;
    left: 10px;
}

.left{
    top: 40vh;
    left: 50px;
}

.right{
    top: 40vh;
    right: 20px;
}

.top-right{
    top: 10px;
    right: 10px;
}

.slide-main-text{
    color: white;
    font-size: 30px;
    text-decoration: underline;
    opacity: 0;
    transition: opacity 1s;
}

.button{
    color: white;
    font-size: 45px;
    font-weight: bold;
    text-decoration: none;
}

.button.forward{
    position: absolute;
    top: 50vh;
    right: 10px;
    z-index: 99;
}

.button.backward{
    position: absolute;
    top: 50vh;
    left: 10px;
    z-index: 99;
}

.slide-map-container{
    position: absolute;
    z-index: 99;
    color: white;
    bottom: 40px;
    left: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 8px;
}

.slide-map-container li{
    display: inline;
    border: 1px dotted white;
    margin-left: -1px;
    padding: 3px;
}

.slide-map-container li a{
    display: inline-block;
    width: 10px;
    text-decoration: none;
    text-align: center;
    color: white;
}

.slide-map-container li a.side{
    color: rgba(0,0,0,0)
}

.slide-map-container li a.clicked{
    background-color: white;
}